<div class="full-cv-content about-content">
  <ul>
    <li>I love being in the water, so swimming is my favorite way to stay active. I also enjoy yoga and Pilates.</li>
    <li>I’m drawn to films by Christopher Nolan and David Fincher; <em>Memento</em> is my all-time favorite.</li>
    <li>I enjoy watching TV series about profiling such as Criminal Minds, Mind Hunter, and 시그널.</li>
    <li>I love music. My favorite artists include <a href="https://youtu.be/Ox_wfL_JJy0?si=aRq1QZSxaMmYRXBK" target="_blank" rel="noopener">윤하</a>, <a href="https://youtu.be/etywYG4ZSvg?si=m6vk9FK_-5Ddf0hi" target="_blank" rel="noopener">Taylor Swift</a>, and <a href="https://youtu.be/qb0Ebqe9JJo?si=4whChGW6d6Zyc69Y" target="_blank" rel="noopener">Chopin</a>. I also enjoy <a href="https://youtu.be/FHxNVVeF69c?t=1699" target="_blank" rel="noopener">playing the piano</a>. Music always helps me chill out.</li>
    <li>I value a <strong>simple</strong> lifestyle and like to write down my thoughts and feelings without dwelling too much on the past.</li>
    <li>I’m easily moved by <a href="https://jihyeparkk.tumblr.com/" target="_blank" rel="noopener">warm words</a>, and I genuinely like people. I believe that no one is purely evil. One of my favorite phrases is, “<strong>Love all, trust few, do wrong to none.</strong>”</li>
  </ul>
</div>
